@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Estilos custom*/

:root {
    --ff: 'Roboto', sans-serif;
    --fw-n: 400;
    --fw-b: 700;
    --gray-ligth-color: #8794BA;
    --pink-color: #EF2A82;
    --dark-blue-color: #172755;
    --blue-color: #0088F0;
    --dark-blue-pricing-color: #0F1F4B;
    --text-primary-color: #FFF;
    --text-secondary-color: #8794BA;
}

/* Default styles */

body{
    font-family: var(--ff);
    background-color: var(--dark-blue-color);
}


/* Custom Styles */
.text-color-white{
    color: var(--text-primary-color);
}

.text-color-secondary{
    color: var(--gray-ligth-color);
}

.title{
    color: var(--text-primary-color);
}

.section-1{
    margin-top: 5rem;
}
