@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Estilos custom*/

:root {
    --ff: 'Roboto', sans-serif;
    --fw-n: 400;
    --fw-b: 700;
    --gray-ligth-color: #8794BA;
    --pink-color: #EF2A82;
    --dark-blue-color: #172755;
    --blue-color: #0088F0;
    --dark-blue-pricing-color: #0F1F4B;
    --text-primary-color: #FFF;
    --text-secondary-color: #8794BA;
    --section-3-color: #f8f9ff;

    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
}

.align-vertical {
    display: flex;
    justify-content: left;
    align-items: left;
}

#center{
    display: block;
    margin: 0 auto;
}

h2,h3{
    font-weight: var(--fw-n);
    flex: auto;
    text-align:center;
}
p{
    font-weight: var(--fw-b);
    color: var(--gray-ligth-color);
    text-align: center;
}

body{
    background-color: #f8f9fa;
}
.container{
    background-color: var(--section-3-color);

}
@media (max-width: 375px) { 
    .h2-custom, .p-custom {
        text-align: left!important; 
    }
}

@media (max-width: 575.98px) { 
    .col-custom {
        display: flex; 
    }
}

