@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*Estilos custom*/

:root {
    --ff: 'Roboto', sans-serif;
    --fw-n: 400;
    --fw-b: 700;
    --gray-ligth-color: #8794BA;
    --pink-color: #EF2A82;
    --dark-blue-color: #172755;
    --blue-color: #0088F0;
    --dark-blue-pricing-color: #0F1F4B;
    --text-primary-color: #FFF;
    --text-secondary-color: #8794BA;

    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);
    --br: 68px;

    --br-card-custom: 30px;
    --fh-b: 40px;
    --fs-s: 18px;
}

/**/

body{
    background-color: var(--gray-ligth-color);
    font-family: var(--ff);    
}

.card-custom-1{
    background-color: var(--dark-blue-pricing-color);
    color: var(--text-primary-color);
}

.card-custom-2{
    background-color: var(--text-primary-color)!important;
    color: var(--dark-blue-color);
}

.card-header-custom-color{
    background-color: var(--text-primary-color)!important;
    border-top-left-radius: var(--br-card-custom)!important;
    border-top-right-radius: var(--br-card-custom)!important;
}

.rounded-custom{
    border-radius: var(--br-card-custom)!important;
}

.btn-custom{
    border: 1px solid var(--gray-ligth-color);
    color:  var(--text-primary-color);
    padding: 1em 1.5em;
    border-radius: var(--br);
    font-size: var(--fw-b);;
    letter-spacing: 1px;
}

.btn-custom-2{
    background-color: var(--pink-color);
}

.h2-custom{
    color: var(--text-primary-color);
    font-size: var(--fh-b);
}

.h3-custom{
    font-size: var(--br-card-custom);
}

.p-style{
    color: var(--gray-ligth-color);
    font-size: var(--fs-s);
}

.small-style{
    color: var(--gray-ligth-color);
    font-size: 16px;
}

.custom-color{
    background-color: var(--dark-blue-color);
}
	
.footer-align{
    display: flex;
    justify-content: space-between;
}

.with-line{
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--text-secondary-color);
}


.line-top{
    border-top: 1px solid var(--text-secondary-color);
}